body {
    background-color:black;
    overflow:hidden;


}

main .personagem {
    display:none;
    height:100vh;


}
main::after {
    content:"";
    position:fixed;
    top:0;
    left:0;
    min-height:100vh;
    width:80vw;

    background:linear-gradient( -233deg,#000 40%, rgba(0, 0, 0, 0)65%) no-repeat;
}

main .personagem.selecionado {
    display:block;
}

main .personagem .img {
    width:100%;
    height:100%;
    object-fit:cover;

}
.conteudo {
    color:white;
  
    position:absolute;
    top:0;
    left:110px;
   display:flex;   
   flex-direction:column;
   justify-content:center; 
   min-height:100vh;
  max-width:380px;
  z-index:1;


}
.conteudo .nome {
   
    font-size:48px;
    font-family: "Secular One";
    font-weight:400;
    margin-bottom:20px;

}
.conteudo .descricao {
    font-family:"Rubik";
    line-height:24px;

}
.conteudo .logo {
background-image: url("../imagens/one-piece-logo.png");
height:100px;
width:220px;
background-size:cover;
margin-bottom:35px;
 
}

.botoes {
    position:fixed;
    top:0;
    right:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
       width:150px;
    align-items:center;
    
    background-color:rgba(0,0,0,0.3);
}

.botoes .botao {
    border:none;
    background:black;
    cursor:pointer;
    border-radius:50%;
    
}
.botoes .botao img {
    border-radius:50%;
    height:83px;

}


.botoes .botao.selecionado {
    transform:scale(1.1);
    box-shadow: 0px 0px 8px #d9d9d9;

}